<?xml version="1.0"?>

<!-- Launches RVIZ to display and manually control robots. -->

<launch>
  <arg name="ns" default="jackal0" />
  
  <!-- Start up RVIZ. One robot is able to be given point commands from RVIZ. -->
  <node name="rviz" pkg="rviz" type="rviz" ns="$(arg ns)" args="-d $(find multi_jackal_tutorials)/rviz/rviz_config.rviz" >
    <remap from="/move_base_simple/goal" to="/$(arg ns)/move_base_simple/goal"/>
  </node>
</launch>
