<?xml version="1.0"?>

<!-- This file launches the Jackal robot controller spawner, which plugs into
     gazebo to allow the Jackal to be controlled. -->
     
<launch>
  <!-- Namespace must be unique. -->
  <arg name="ns" default="jackal0"/>

  <!--The diff_drive_controller publishes odometry, but uses the wrong child 
      and parent frames, so we need to republish it. So the 
      'jackal0/jackal_velocity_controller/odom' will become
      'jackal0/jackal_velocity_controller/odom_fixed'. -->
  <rosparam command="load" file="$(find multi_jackal_control)/config/jackal_control_config.yaml" ns="$(arg ns)" />
  <node name="repub_velocity_controller" pkg="multi_jackal_control" type="repub_node" ns="$(arg ns)" output="screen">
    <param name="namespace" value="$(arg ns)"/>
  </node>

  <!-- Spawn the jackal controls. -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      args="jackal_joint_publisher jackal_velocity_controller" ns="$(arg ns)">
    <param name="frame_id" value="control_frame"/>
  </node>
        
  <!-- Create a control marker for manual control using RVIZ. -->
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" ns="$(arg ns)">
    <remap from="twist_marker_server/cmd_vel" to="jackal_velocity_controller/cmd_vel" />
    <param name="link_name" value="$(arg ns)/base_link"/>
  </node> 

</launch>

